    <footer class="container fixed-bottom text-center">
      <p>by <a href="https://github.com/applicationsdev?tab=repositories" target="_blank">Applications Developer</a> &#124; License&#58; <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL-3.0</a></p>
    </footer>
