# Applications Developer
# https://github.com/applicationsdev/Nodejs-MongoDB-ElasticSearch-eCommerce
# GPL-3.0

# Line endings get normalized in text/script files
* text=auto

# Exclude from above normalization-processing
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary

# Linguist-language description for primary file types
*.js linguist-language=Javascript

# Linguist-vendor description for commited paths
public/* linguist-vendored

# Linguist-vendor description for commited file types
*.css linguist-vendored
*.scss linguist-vendored
*.less linguist-vendored
*.map linguist-vendored
*.xml linguist-vendored
*.txt linguist-vendored
*.json linguist-vendored
*.ejs linguist-vendored
*.html linguist-vendored

# Documentation files
*.md linguist-documentation
